<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <div>
    <%= @book.errors.count %>error prohibited this book from being saved:
  </div>
  <div>
    <ul>
      <% @book.errors.full_messages.each do |messeage| %>
      <li><%= messeage %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>
  <p><%= f.submit "Update Book", method: :patch %></p>
<% end %>

<p><span><%= link_to "Show",book_path(@book.id) %></span>|<span><a href="/books/">Back</span></p>


