<p><%= notice %></p>

<div>
  <p><span>Title:</span><%= @book.title %></p>
  <p><span>Body:</span><%= @book.body %></p>
</div>
<div>
  <p><span><%= link_to "Edit","/books/#{@book.id}/edit" %></span>|<span><%= link_to "Back",books_path %></span></p>
</div>

